<div class="animated pulse">
  <div class="modal-header-wrap">
    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
  </div>
  <div class="modal-baseWrap">
    <br>
    <form [formGroup]="bookForm">
      <div class="input-group">
        <div class="input-group-wrap">
          <mat-form-field>
            <input matInput type="text" placeholder="Category" formControlName="categoryName">
          </mat-form-field>
        </div>
      </div>
      <div class="input-group">
        <div class="input-group-wrap">
          <mat-form-field>
            <input matInput type="text" placeholder="Book Title" formControlName="bookName">
          </mat-form-field>
        </div>
      </div>
      <div class="input-group">
        <div class="input-group-wrap">
          <mat-form-field>
            <input matInput type="text" placeholder="Author" formControlName="author">
          </mat-form-field>
        </div>
      </div>

      <mat-slide-toggle [checked]="isFavourite">
        Favourite
      </mat-slide-toggle>
    </form>

    <div class="btn-wrap">
      <div (click)="onSaveBook()" class="blue-btn">Submit</div>
    </div>
  </div>
</div>